<section class="body" >
  <div class="container py-md-5">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-md-7 py-5">
        <div class="card rounded-3 text-black shadow">
          <div class="row g-0 ">
            <div class="col-md-10 offset-md-1 ">
              <div class="card-body  mx-md-4">

                  <div class="text-center">
                    <h4 class="mt-1 mb-3 pb-3">Add Student</h4>
                  </div>
  
                  <div [hidden]="submitted" style="width: 400px;">
                    <form [formGroup]="studentsaveform" #savestudent (ngSubmit)="saveStudent(saveStudent)">
                        <div class="form-group">
                            <label for="name">Student Name</label>
                            <input type="text" class="form-control"  formControlName="student_name" data-toggle="tooltip" 
                               data-placement="right" title="Enter Student Name" >
                            <div class="alert alert-danger" *ngIf = "(StudentName.touched) && (StudentName.invalid)" 
                              style="margin-top: 5px;">
                                <span *ngIf="StudentName.errors.required">Student Name is Required</span>
                                  <span *ngIf = "StudentName.errors.minlength"> 
                                      MinLength Error 
                                  </span>                   
                              </div>
                        </div>
                
                        <div class="form-group">
                            <label for="name">Student Email</label>
                            <input type="text" class="form-control" formControlName="student_email" 
                              data-toggle="tooltip" data-placement="right" title="Enter Student Email">
                              <div class="alert alert-danger" *ngIf = "(StudentEmail.touched) && (StudentEmail.invalid)" 
                              style="margin-top: 5px;">
                                <span *ngIf="StudentEmail.errors.required">Student Email is Required</span>
                                  <span *ngIf = "StudentEmail.errors.email"> 
                                      Invalid Email Format 
                                  </span>                   
                              </div>
                        </div>
                
                        <div class="form-group">
                            <label for="branch">Student Branch</label>
                              <select class="form-control" formControlName="student_branch" data-toggle="tooltip" 
                                    data-placement="right" title="Select Student Branch">
                                <option value="null">--Select Branch--</option>
                                <option value="BE">Bachlor OF Engg</option>
                                <option value="BEE">Bachlor OF Ele</option>
                                <option value="BCA">Bachlor OF Computer Application</option>
                                <option value="BCS">Bachlor OF Computer Science</option>
                                <option value="MCA">Master OF Computer Application</option>
                                <option value="MCS">Master OF Computer Science</option>
                                
                              </select>
                        </div>
                
                        <div class="text-center ">
                          <button type="submit" class="btn btn-success btn-sm mt-3">Submit</button>
                        </div>
                    </form>
                </div>

              
                 
                    <div class="col-md-12  ">
                      <div [hidden]="!submitted" class="justify-content-center text-center">
                         <h4 class="text-success">Student Added Successfully!</h4>
                         <button (click)="addStudentForm()" class='btn btn-info btn-sm mt-3'>Add More Student </button>
                      </div>      
                  </div>
                  
                </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>